
* {
    margin: 0;
    /* border: 1px red solid; */
    font-family: "Ubuntu";
    color: white;
}

body {
    display: grid;
    gap: 2px;
    max-width: 100%;
    background-color: #252734;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100px;
    background-color: #252734;
}

.container-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
    height: 5vw;
    margin-left: 9vw;
}

.btn-menu {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-menu:hover {
    color: #ff9b42;
    transform: scale(0.95);
}

.btn-home {
    color: #ff9b42;
}

/* Intro Section */
.intro-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 11vw 9vw 3vw 10vw;
    padding-bottom: 3vw;
}

.container-caption {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: fit-content;
    gap: 0.5vw;
    /* padding-left: 9vw; */
}

.text-hello {
    width: fit-content;
    font-weight: 500;
    font-size: 24px;
}

.text-name {
    width: fit-content;
    font-size: 40px;
}

.text-description {
    width: 75%;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 18px;
}

.container-btn-explore {
    margin-top: 10px;
    width: fit-content;
}

.btn-explore {
    margin-right: 0.5vw;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    height: 50px;
    border-radius: 10px;
    font-size: large;
    font-weight: 700;
    color: white;
    background-color: #ff9b42;
    transition: all 0.2s;
}

.btn-talk {
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: large;
    font-weight: 700;
    color: white;
    background-color: #252734;
    transition: all 0.2s;
}

.btn-explore:hover {
    background-color: #d5721c;
    transform: scale(0.98);
}

.btn-talk:hover {
    background-color: white;
    color: #252734;
    box-shadow: 0 0 10px 2px #000000;
    transform: scale(0.98);
}

.container-intro-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1vw;
    width: fit-content;
    margin-top: 130px;
    font-size: 12px;
}

.text-download-cv {
    font-weight: 500;
}

.link-download-cv {
    text-decoration: none;
    color: #ff9b42;
    transition: all 0.2s;
}

.link-download-cv:hover {
    color: #c86f21;
}

.container-icon-social-media {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}

.icon-social-media {
    width: 40px;
    transition: all 0.2s;
}

.icon-social-media:hover {
    border-radius: 10px;
    transform: scale(0.9);
}

.container-profile {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.container-picture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 25vw;
}

.bg-picture {
    width: 100%;
    height: 100%;
    border: 5px solid rgb(243, 243, 243);
    border-radius: 100%;
    background-color: #ff9b42;
    box-shadow: 0 0 50px 2px #ff9b42;
    transition: box-shadow 0.3s ease;
}

.container-profile:hover .bg-picture {
    box-shadow: 0 0 100px 2px #ffffff;
}

.profile-picture {
    position: absolute;
    bottom: 0;
    max-width: 25vw;
    height: auto;
    border-radius: 100%;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #333647;
}

.container-title {
    flex: 1;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    border-bottom-width: 5px;
    border-bottom-color: #ff9b42;
    color: #ff9b42;
}

.text-about {
    font-weight: 300;
    font-size: large;
}

.container-about {
    flex: 2;
    display: flex;
    justify-content: center;
    width: 75%;
    text-align: center;
    line-height: 0.7cm;
}

.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    row-gap: 70px;
    column-gap: 50px;
    width: 60%;
}

.container-icon {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: fit-content;
    width: 100px;
    /* box-shadow: 0 0 10px 1px #ffffff; */
    border-radius: 30px;
    transition: all 0.2s;
}

.icon {
    width: 80%;
}

.container-icon:hover {
    transform: scale(1.1);
    border-radius: 20px;
    box-shadow: 0 0 20px 3px #ff9b42;
}

/* Experiences Section */
.experiences-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    padding-top: 100px;
    padding-bottom: 200px;
    background-color: #333647;
}

.container-experiences {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 70%;
}

.container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 400px;
    height: 100%;
    padding: 20px 20px 10px 20px;
    border-radius: 30px;
    box-shadow: 0 0 20px 1px #000000;
    background-color: #252734;
    transition: all 0.2s;
}

.container-card:hover {
    transform: scale(0.98);
    /* background-color: #333647;      */
    box-shadow: 0 0 20px 2px #ff9b42;
}

.image-card {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 90%;
    height: max-content;
    border-radius: 15px;
    background-color: white;
}

.image-first {
    width: 75%;
}

.image-adhivasindo {
    width: 65%;
}

.text-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 90%;
}

.description-card {
    font-weight: 300;
    line-height: 0.6cm;
    text-align: justify;
}

.category-card {
    color: #ffb473;
    padding-bottom: 20px;
}

.tools-card {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
    text-align: left;
    font-weight: 100;
    font-size: 12px;
    word-spacing: 0.1cm;
    line-height: 0.5cm;
}

.tools-card span {
    font-weight: bold;
}

/* Education */
.education-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    padding-top: 100px;
    padding-bottom: 120px;
}

.container-education {
    width: 75%;
    background-color: #333647;
    box-shadow: 0 0 20px 1px #ff9b42;
    border-radius: 30px;
    transition: box-shadow 0.5s;
}

.container-education:hover {
    box-shadow: 0 0 20px 1px #000000;
}

.container-grid {
    display: flex;
    justify-items: center;
    padding: 1px;
    width: 100%;
    height: 200px;
}

.container-subgrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    text-align: center;
    transition: all 0.2s;
}

.container-subgrid-left {
    flex: 6;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.container-subgrid-left:hover {
    box-shadow: 0 0 20px 1px #ff9b42;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.container-subgrid-right {
    flex: 7;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.container-subgrid-right:hover {
    box-shadow: 0 0 20px 1px #ff9b42;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.year-grid {
    font-weight: 100;
    margin-top: -10px;
    width: fit-content;
}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333647;
    height: 80px;
}

.text-copyright {
    font-weight: 100;
}

/* Responsive */
@media (max-width: 600px) {

    /* Header */
    .header {
        justify-content: center;
    }

    .container-menu {
        margin: 0;
    }

    .btn-menu {
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;
    }

    /* Intro-Section */
    .intro-section {
        flex-direction: column;
    }

    .container-profile {
        order: -1;
        justify-content: center;
        padding-top: 30px;
    }

    .container-picture {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 40vw;
    }

    .bg-picture {
        width: 100%;
        height: 100%;
        border: 0.5vw solid rgba(103, 103, 103, 0.716);
        border-radius: 100%;
        background-color: #ff9b42;
    }

    .profile-picture {
        position: absolute;
        bottom: 0;
        max-width: 40vw;
        height: auto;
        border-radius: 100%;
    }

    .container-caption {
        align-items: center;
        text-align: center;
        padding: 4vw 15vw 2vw 15vw;
    }

    .text-hello {
        font-weight: 500;
        font-size: 16px;
    }

    .text-name {
        font-size: 28px;
    }

    .text-description {
        margin-bottom: 10px;
        width: 100%;
        letter-spacing: 1px;
        font-weight: 100;
        font-size: 14px;
    }

    .container-intro-footer {
        align-items: center;
    }

    .container-experiences {
        flex-direction: column;
    }
}
