* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
    color: white;
    /* border: 1px red solid; */
}

body {
    max-width: 100%;
    background-color: #252734;
}


/* ==== Header Section ==== */

.header-section {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    min-height: 100px;
    background-color: #252734;
}

.container-menu__header {
    display: flex;
    gap: 50px;
    margin-left: 9vw;
}

.btn-menu__header {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-menu__header:hover {
    color: #ff9b42;
    transform: scale(0.95);
}

.btn-home__header {
    color: #ff9b42;
}


/* ==== Intro Section ==== */

.intro-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 120px 100px 50px 100px;
}

.container-caption__intro {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
}

.text-hello__intro {
    width: fit-content;
    font-weight: 500;
    font-size: 24px;
}

.text-name__intro {
    width: fit-content;
    font-size: 40px;
}

.text-description__intro {
    max-width: 500px;
    font-weight: 75%;
    font-size: 18px;
    letter-spacing: 1px;
}

.container-btn__intro {
    display: flex;
    gap: 15px;
    width: fit-content;
    margin-top: 10px;
}

.btn-explore__intro {
    padding: 0 20px 0 20px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ff9b42;
    transition: all 0.2s;
}

.btn-talk__intro {
    padding: 0 20px 0 20px;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    background-color: #252734;
    transition: all 0.2s;
}

.btn-explore__intro:hover {
    background-color: #d5721c;
    transform: scale(0.98);
}

.btn-talk__intro:hover {
    color: #252734;
    background-color: white;
    box-shadow: 0 0 10px 2px #000000;
    transform: scale(0.98);
}

.container-link__intro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    margin-top: 130px;
    font-size: 18px;
}

.text-download-cv__intro {
    font-weight: 500;
}

.link-download-cv__intro {
    text-decoration: none;
    color: #ff9b42;
    transition: all 0.2s;
}

.link-download-cv__intro:hover {
    color: #c86f21;
}

.container-icon__intro {
    display: flex;
    gap: 10px;
}

.icon__intro {
    width: 40px;
    transition: all 0.2s;
}

.icon__intro:hover {
    border-radius: 10px;
    transform: scale(0.9);
}

.container-profile__intro {
    flex: 2;
    display: flex;
    justify-content: center;
}

.container-profile__intro:hover .bg-image__intro {
    box-shadow: 0 0 100px 2px #ffffff;
}

.container-image__intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.bg-image__intro {
    width: 100%;
    height: 100%;
    border: 5px solid rgb(243, 243, 243);
    background-color: #ff9b42;
    border-radius: 100%;
    box-shadow: 0 0 50px 2px #ff9b42;
    transition: box-shadow 0.3s ease;
}

.image__intro {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    border-radius: 100%;
}


/* ==== About Me Section ==== */

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 100px 100px 100px 100px;
    background-color: #333647;
}

.container-title__all {
    padding-bottom: 10px;
    border-bottom: 5px solid #ff9b42;
}

.container-description__about {
    width: 75%;
    text-align: center;
    line-height: 0.7cm;
}

.text-description__about {
    font-weight: 300;
    font-size: large;
}


/* ==== Skills Section ==== */

.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 100px 100px 100px 100px;
}

.container-items__skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 70px;
    column-gap: 50px;
    width: 70%;
}

.container-icon__skills {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.2s;
}

.icon__skills {
    width: 100px;
}

.container-icon__skills:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 3px #ff9b42;
}


/* ==== Experiences Section ==== */

.experiences-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    padding: 100px 100px 100px 100px;
    background-color: #333647;
}

.container-card__experiences {
    display: flex;
    gap: 50px;
    width: 80%;
}

.card__experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 400px;
    padding: 20px 20px 30px 20px;
    border-radius: 30px;
    box-shadow: 0 0 20px 1px #000000;
    background-color: #252734;
    transition: all 0.2s;
}

.card__experiences:hover {
    transform: scale(0.98);
    box-shadow: 0 0 20px 2px #ff9b42;
}

.image-card__experiences {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 15px;
    background-color: white;
}

.image-adhivasindo__experiences {
    margin: 10px;
    width: 70%;
}

.image-first__experiences {
    width: 75%;
    margin: 10px;
}

.text-card__experiences {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 90%;
}

.category__experiences {
    color: #ffb473;
    padding-bottom: 20px;
}

.description__experiences {
    font-weight: 300;
    line-height: 0.6cm;
    text-align: justify;
}

.skills__experiences {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
    text-align: left;
    font-weight: 100;
    font-size: 12px;
    word-spacing: 0.1cm;
    line-height: 0.5cm;
}

.skills__experiences span {
    font-weight: bold;
}

/* ==== Education Section ==== */

.education-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    padding: 100px 100px 100px 100px;
}

.container-content__education {
    background-color: #333647;
    box-shadow: 0 0 20px 1px #ff9b42;
    border-radius: 30px;
    transition: box-shadow 0.5s;
}

.container-content__education:hover {
    box-shadow: 0 0 20px 1px #000000;
}

.container-grid__education {
    display: flex;
}

.container-subgrid__experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
    transition: all 0.2s;
}

.container-subgrid__experiences:hover {
    box-shadow: 0 0 20px 1px #ff9b42;
}

.year__education {
    font-weight: 100;
    margin-top: -10px;
}


/* ==== Footer Section ==== */

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333647;
    height: 80px;
}

.text__footer {
    font-weight: 100;
}


/* ==== Rssponsive Styles ==== */

@media (max-width: 600px) {

    /* Header */
    .header {
        justify-content: center;
    }

    .container-menu {
        margin: 0;
    }

    .btn-menu {
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;
    }

    /* Intro-Section */
    .intro-section {
        flex-direction: column;
    }

    .container-profile {
        order: -1;
        justify-content: center;
        padding-top: 30px;
    }

    .container-picture {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 40vw;
    }

    .bg-picture {
        width: 100%;
        height: 100%;
        border: 0.5vw solid rgba(103, 103, 103, 0.716);
        border-radius: 100%;
        background-color: #ff9b42;
    }

    .profile-picture {
        position: absolute;
        bottom: 0;
        max-width: 40vw;
        height: auto;
        border-radius: 100%;
    }

    .container-caption {
        align-items: center;
        text-align: center;
        padding: 4vw 15vw 2vw 15vw;
    }

    .text-hello {
        font-weight: 500;
        font-size: 16px;
    }

    .text-name {
        font-size: 28px;
    }

    .text-description {
        margin-bottom: 10px;
        width: 100%;
        letter-spacing: 1px;
        font-weight: 100;
        font-size: 14px;
    }

    .container-intro-footer {
        align-items: center;
    }

    .container-experiences {
        flex-direction: column;
    }
}